<div class="main-content">

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">Active Training</h4>
                            <p class="category">Current active training</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Course Name</th>
                                        <th>Main Trainer</th>
                                        <th>Backup Trainer</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Office</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Business Writing 1 #1</td>
                                        <td>Facsi Pramujuwono</td>
                                        <td>Herdiawan Fajar</td>
                                        <td>07-Agustus-2017</td>
                                        <td>07-Agustus-2017</td>
                                        <td>Yogyakarta</td>
                                    </tr>
                                    <tr>
                                        <td>Business Writing 2 #1</td>
                                        <td>Herdiawan Fajar</td>
                                        <td>Wimba Agra Wicesa</td>
                                        <td>13-Agustus-2017</td>
                                        <td>13-Agustus-2017</td>
                                        <td>Jakarta</td>
                                    </tr>
                                    <tr>
                                        <td>Low Intermediate 2 #1</td>
                                        <td>Facsi Pramujuwono</td>
                                        <td>Mohammad Taufik Andrian</td>
                                        <td>09-Agustus-2017</td>
                                        <td>09-Agustus-2017</td>
                                        <td>Bali</td>
                                    </tr>
                                    <tr>
                                        <td>Business Writing 2 #1</td>
                                        <td>Herdiawan Fajar</td>
                                        <td>Wimba Agra Wicesa</td>
                                        <td>13-Agustus-2017</td>
                                        <td>13-Agustus-2017</td>
                                        <td>Jakarta</td>
                                    </tr>
                                    <tr>
                                        <td>Low Intermediate 2 #1</td>
                                        <td>Facsi Pramujuwono</td>
                                        <td>Mohammad Taufik Andrian</td>
                                        <td>09-Agustus-2017</td>
                                        <td>09-Agustus-2017</td>
                                        <td>Bali</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <div class="card" >
                        <div class="card-header" data-background-color="purple">
                            <h4 class="title">BCC Schedule</h4>
                            <p class="category">Business Communication Course Schedule</p>
                        </div>
                        <div class="card-content table-responsive">
                            <table class="table table-hover">
                                <thead class="text-primary">
                                    <tr>
                                        <th>Trainer</th>
                                        <th>Monday</th>
                                        <th>Tuesday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Herdiawan Fajar</td>
                                        <td>Communicatoin Effectively 2 #1, Jakarta A</td>
                                        <td>Beginning #2, Bandung A</td>
                                        <td>Intermediete 1 #2, Bandung</td>
                                        <td>Low Intermediate 2 #3, bandung</td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Reny Mulyaningsih</td>
                                        <td>Business Writing 2 #2, Saraswati</td>
                                        <td>Communicatoin Effectively 2 #1, Saraswati</td>
                                        <td>Intermediete 1 #3, Kresna</td>
                                        <td>Presentation Skills 2 #4, Baladewa</td>
                                        <td>Low Intermediate 2 #2, Saraswati</td>
                                    </tr>
                                    <tr>
                                        <td>Wimba Agra Wicesa</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>Presentation Skills 2 #3, Saraswati</td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>


        </div>
</div>
